.event-list {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 6px;
}

.event {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 22px;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 1fr 200px;

    &__city {
        margin: 0;
    }
    &__price {
        text-align: right;
        font-size: 22px;
        font-weight: 600;
    }
}